{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'weatherapp/style.css' %}">

</head>
<body>
    <h1>Weather app</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Enter city" required>
            <button type="submit">Search</button>
        </form>

        {% if temp %}
            <h1>{{ temp }}</h1>
            <h2>{{ description }}</h2>
            <img src="http://openweathermap.org/img/w/{{ icon }}.png">
            <p>{{ day }}</p>
        {% elif city == None and request.method == "POST" %}
            <p style="color:red;">City not found. Please try again.</p>
        {% endif %}

</body>
</html>